.statusOnline {
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 50%;
}

.statusOffline {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: tomato;
}

.item {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #aeaeae;
  border-radius: 5px;

  width: 300px;
}

.item:hover {
  scale: 1.05;
}

.avatar {
  width: 100px;
}

.name {
  font-weight: 400px;
}
